.message-box {
    position: relative;
    input {
        border-radius: 8px;
        padding: 8px 16px;
        border: 1px solid var(--line);
        color: var(--secondary);
        background-color: var(--white);
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
    }
    .btn-message {
        position: absolute;
        right: 12px;
        top: 12px;
        svg path {
            fill: var(--primary);
        }
    }
}
.bubble {
    display: flex;
    align-items: center;
    gap: 8px;
    img {
        width: 24px;
        height: 24px;
        border-radius: 50%;
    }
    p {
        padding: 12px 16px;
        font-size: 14px;
        line-height: 18px;
        color: var(--onSurface);
        border-radius: 20px;
    }
    .time {
        color: var(--text-5);
        font-size: 12px;
        line-height: 120%;
    }
    &.bubble-you {
        gap: 8px;
        margin-bottom: 14px;
        margin-right: 50px;

        p {
            background-color: var(--line);
        }
    }
    &.bubble-me {
        margin-bottom: 14px;
        justify-content: flex-end;
        margin-left: 80px;
        .content {
            p {
                background-color: var(--white);
            }
            .time {
                text-align: end;
                display: block;
            }
        }
    }
}

.status-icon {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    &.online {
        background-color: $primary;
        border: 2px solid $white;
    }
    &.offline {
        background-color: $critical;
    }
}

.fixed-chat {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 12px 20px;
    max-width: 1024px;
    margin: 0 auto;
    .inner {
        display: flex;
        gap: 12px;
        justify-content: space-between;
        align-items: center;
        .message-box {
            flex-grow: 1;
        }
    }
}
