.section-box-search {
    padding-top: 15px;
    padding-bottom: 44px;
    background-color: $primary;
    margin-bottom: -20px;
}
.main-section {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: $white;
}
.banner-project {
    height: 176px;
    border-radius: 8px;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}
.list-desc-project {
    display: flex;
    align-items: center;
    gap: 4px;
    .box-left {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 35%;
    }
    .box-right {
        flex-grow: 1;
        .add-member {
            margin-left: 12px;
            padding-top: 4px;
            font-size: 18px;
            line-height: 18px;
            .icon {
                color: $primary;
            }
        }
    }
}

.task-status {
    color: $white;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    padding: 4px 9px;
    border-radius: 8px;
    &.style-2 {
        border-radius: 4px;
        font-size: 8px;
        line-height: 12px;
        padding: 4px 6px;
    }
    &.type-1 {
        background-color: #ec4899;
    }
    &.type-2 {
        background-color: #34c8de;
    }
    &.type-3 {
        background-color: #f9771d;
    }
}

.uploadfile {
    display: flex;
    align-items: center;
    gap: 8px;
    .file-name {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        padding: 2px 8px;
        border: 1px solid $primary;
        border-radius: 8px;
        color: $primary;
    }
}

.num-task {
    width: 16px;
    height: 16px;
    border-radius: 4px;
    font-size: 10px;
    line-height: 16px;
    @include flex(center, center);
    &.type-1 {
        color: $pink;
        border: 1px solid $pink;
    }
    &.type-2 {
        color: $orange;
        border: 1px solid $orange;
    }
    &.type-3 {
        color: $success;
        border: 1px solid $success;
    }
    &.type-4 {
        color: $primary;
        border: 1px solid $primary;
    }
}

.box-empty-task {
    margin-top: 75px;
    p {
        padding: 0px 60px;
    }
}

.box-pick-color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .item {
        @include flex(center, center);
        width: 46px;
        height: 46px;
        border-radius: 8px;
        &.active {
            position: relative;
            &::after {
                position: absolute;
                font-family: $fontIcon;
                content: "\e93b";
                color: $white;
                font-size: 16px;
            }
        }
        &.color1 {
            background-color: #fabe25;
        }
        &.color2 {
            background-color: #976bec;
        }
        &.color3 {
            background-color: #f951b1;
        }
        &.color4 {
            background-color: #59c3ff;
        }
        &.color5 {
            background-color: #59ffa5;
        }
        &.color6 {
            background-color: #25a1fa;
        }
        &.color7 {
            background: linear-gradient(180deg, #9ef9ff 0%, #6be4ec 100%);
        }
        &.color8 {
            background: linear-gradient(180deg, #f96f51 0%, #f951b1 100%);
        }
        &.color9 {
            background: linear-gradient(180deg, #fff59a 5.38%, #f9e851 100%);
        }
    }
}

.box-ip {
    position: relative;
    input {
        padding-right: 114px;
    }
    .text-right {
        position: absolute;
        top: 16px;
        right: 20px;
        color: $primary;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }
}

.drop-select-access {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $soft-grey;
    padding: 12px;
    border-radius: 12px;

    img {
        border-radius: 6px;
        width: 36px;
        height: 36px;
    }
    &.dropdown-item {
        padding: 0;
        background-color: $white;
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }
    &.select {
        position: relative;
        &::after {
            content: "\e91c";
            font-family: $fontIcon;
            position: absolute;
            top: 18px;
            right: 18px;
            border: 0;
            transform: rotate(90deg);
        }
    }
}
.box-select-role {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    padding-left: 16px;
    background-color: $soft-grey;
    border-radius: 12px;
    border: 1px solid transparent;
    .box-icon {
        border-radius: 8px;
        background-color: rgba(121, 128, 255, 0.06);
    }
    .content {
        p {
            margin-top: 2px;
        }
    }
    &.active {
        border-color: $primary;
        position: relative;
        .box-icon {
            background-color: $primary;
            svg path {
                stroke: $white;
            }
        }
        &::after {
            position: absolute;
            content: "\e93b";
            font-family: $fontIcon;
            top: 20px;
            right: 20px;
            color: $primary;
            font-size: 15px;
        }
    }
}

.box-noti-task {
    display: flex;
    gap: 10px;
    border-radius: 12px;
    background-color: $white;
    box-shadow: 0px 4px 36px 0px rgba(16, 21, 35, 0.05);
    padding: 16px;
    padding-right: 14px;
    .content {
        .title {
            font-size: 14px;
            line-height: 20px;
            color: rgba(49, 57, 79, 0.92);
            font-weight: 700;
            span {
                font-weight: 400;
                color: rgba(49, 57, 79, 0.7);
            }
        }
        p {
            font-size: 12px;
            line-height: 20px;
            color: rgba(49, 57, 79, 0.7);
            display: flex;
            align-items: center;
            gap: 8px;
            .dot {
                width: 4px;
                height: 4px;
                display: inline-block;
                border-radius: 100px;
                background-color: $primary;
            }
        }
    }
}

.box-empty-noti {
    margin-top: 116px;
}
.box-empty-inbox,
.box-empty-inbox .tf-btn {
    margin-top: 100px;
}

// calendar
.fc-direction-ltr {
    box-shadow: 0px 4px 40px 0px rgba(16, 21, 35, 0.06);
    border-radius: 12px;
}
.fc {
    .fc-toolbar-title {
        font-size: 18px;
        line-height: 28px;
        color: $black;
    }
    .fc-toolbar.fc-header-toolbar {
        padding: 14px 18px 18px;
        margin: 0;
    }

    .fc-toolbar-chunk {
        display: flex;
        align-items: center;
    }
    .fc-button-primary:hover {
        background-color: transparent;
        color: $primary;
        border-color: transparent;
    }
    .fc-col-header-cell-cushion {
        color: rgba(49, 57, 79, 0.7);
        font-weight: 400;
        font-size: 12px;
        line-height: 12px;
    }
    .fc-today-button:hover,
    .fc-button-primary {
        background-color: $primary;
        border-color: $primary;
        color: $white;
        font-size: 12px;
        line-height: 12px;
        &:disabled {
            opacity: 1;
            background-color: $primary;
            border-color: $primary;
        }
    }
    .fc-prev-button,
    .fc-next-button {
        background-color: $white;
        border-color: $white;
        color: rgba(49, 57, 79, 0.5);
        padding: 0;
        outline: none;
        outline-offset: 0;
        &:focus,
        &:not(:disabled):active {
            background-color: transparent;
            border-color: transparent;
            color: $primary;
            box-shadow: none;
        }
        &:not(:disabled):active:focus {
            box-shadow: none;
        }
    }
    .fc-next-button {
        margin-left: 4px !important;
    }
    .fc-daygrid-body-unbalanced .fc-daygrid-day-events {
        min-height: auto;
    }
    .fc-daygrid-day-top {
        justify-content: center;
        opacity: 1 !important;
    }
    .fc-daygrid-day-number {
        color: rgba(49, 57, 79, 0.7);
        font-weight: 400;
        font-size: 12px;
    }
    .fc-daygrid-day.fc-day-today {
        background-color: transparent;
        position: relative;
        .fc-daygrid-day-top {
            &::after {
                position: absolute;
                content: "";
                width: 28px;
                height: 28px;
                background-color: $primary;
                border-radius: 50%;
            }
        }
        .fc-daygrid-day-number {
            color: $white;
        }
    }
    .fc-daygrid-day-frame {
        @include flex(center, center);
    }
    .fc-scroller-liquid-absolute {
        padding-top: 24px;
    }

    .fc-highlight {
        background-color: rgba(188, 192, 255, 1);
    }
}
.fc-theme-standard .fc-scrollgrid,
.fc-theme-standard td,
.fc-theme-standard th {
    border: 0;
}

.box-select-calendar {
    width: 53px;
    height: 54px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    border: 1px solid rgba(226, 232, 240, 1);
    .day {
        font-size: 15px;
        line-height: 24px;
        font-weight: 700;
        color: rgba(49, 57, 79, 0.92);
    }
    &.active {
        background-color: rgba(121, 128, 255, 0.1);
        border-color: $primary;
        position: relative;
        &::after {
            position: absolute;
            content: "";
            bottom: 6px;
            width: 4px;
            height: 4px;
            background-color: $primary;
            border-radius: 100px;
        }
    }
}

.timeline-item-date {
    display: flex;
    gap: 12px;
    align-items: center;
    .box-icon {
        background-color: rgba(49, 57, 79, 0.06);
        .icon {
            font-size: 20px;
        }
    }
}

.list-desc-project-style2 {
    display: flex;
    align-items: center;
    .left {
        width: 40%;
    }
    .right {
        width: 60%;
        input {
            padding: 0;
            background-color: transparent;
            border: none;
            border-radius: 0;
            &:focus {
                border: none;
            }
        }
    }
}

.enter-task {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 24px;
    .box-left {
        // position: absolute;
        left: 24px;
        top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        svg {
            opacity: 0.6;
        }
    }
    input {
        padding: 20px;
        padding-left: 50px;
        padding-right: 60px;
        &:focus {
            border: 0;
            background-color: $white;
        }
    }
}

.dropdown-calendar {
    padding: 10px;
    .fc-direction-ltr {
        width: 290px;
        .fc-col-header {
            width: 100% !important;
        }
        .fc-daygrid-body,
        .fc-scrollgrid-sync-table {
            width: 100% !important;
        }
    }
    .fc-view-harness {
        height: 200px !important;
    }
    .btn-close-drop {
        position: absolute;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        top: -15px;
        right: -15px;
        background-color: #fff;
        font-size: 13px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: rgba(49, 57, 79, 0.7);
        &.st2 {
            left: -15px;
            right: unset;
        }
    }
}


.box-description-task {
    position: relative;
    .area-message{
        height: 60px;

    }
    .btn-see-desc{
        position: absolute;
        right: 0;
        bottom: 5px;
    }
}
