.banner-top {
    height: 320px;
    background-color: var(--primary-bold);
    margin-bottom: -10em;
    .search-box {
        .search-field {
            background: rgba(255, 255, 255, 0.1);
            border-color: transparent;
            backdrop-filter: blur(2px);
            color: $white;
            &::placeholder {
                color: rgba(255, 255, 255, 0.4);
            }
        }
        .icon-left,
        .icon-right {
            color: $white;
            z-index: 1;
        }
    }
    h2 {
        color: $white;
    }
}
.tf-title-banner {
    h3,
    a {
        color: $white;
    }
}
.wd-dir-store {
    &.details {
        .item-rate {
            border-radius: 4px;
            background: rgba(250, 190, 60, 0.12);
            padding: 4px;
            display: inline-flex;
            align-items: center;
            gap: 4px;
            .icon-star {
                font-size: 16px;
                color: $warning;
            }
        }
        .group-btn {
            .tf-btn {
                padding: 11px 0px;
                border-radius: 5px;
                font-weight: 500;
            }
            .icon {
                flex-shrink: 0;
                width: 40px;
                height: 40px;
                @include flex(center, center);
                color: $onSurface;
                border-radius: 5px;
                background-color: $line;
            }
        }
        .box-img {
            &.lr-wrap {
                position: relative;
                .box-bookmark {
                    position: absolute;
                    top: 12px;
                    right: 12px;
                }
            }
        }
    }
}

.box-categories {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    margin-right: -20px;
    padding-right: 18px;
    .categories-item {
        white-space: nowrap;
    }
}

.box-upload {
    display: flex;
    gap: 8px;
    img {
        width: 52px;
        height: 52px;
        border-radius: 4px;
    }
    .upload {
        width: 52px;
        height: 52px;
        border-radius: 4px;
        @include flex(center, center);
        border: 1px solid $line;
        background-color: $surface;
        img {
            width: 32px;
            height: 32px;
        }
    }
}
.wrap-banner {
    padding-top: 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: var(--white);
    margin-top: -20px;
    position: relative;
    // &.fixed {
    //     position: fixed;
    //     left: 0;
    //     width: 100%;
    //     bottom: 50px;
    //     padding-bottom: 35px;
    // }
}
.categories-item {
    padding: 6px 16px;
    border-radius: 20px;
    border: 1px solid var(--line);
    @include flex(center, center);
    gap: 6px;
    svg path {
        fill: var(--text-4);
    }
    &.style-2 {
        background: var(--white);
        box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
    }
    &.time-st.active,
    &.active {
        background-color: var(--primary);
        color: $white;
        border-color: var(--primary);
        svg path {
            fill: $white;
        }
    }
}
.cate-item {
    padding: 7px 16px;
    background-color: $surface;
    display: inline-flex;
    align-items: center;
    color: $onSurface;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    border-radius: 100px;
    gap: 8px;
}

.heart-press {
    &.active {
        svg {
            path {
                fill: #de0000;

                stroke: #de0000;
            }
        }
        i {
            color: #de0000;
        }
    }
}

.box-add-photo {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
    img {
        width: 77px;
        height: 70px;
        border-radius: 14px;
    }
    .input-upload {
        .upload-file {
            width: 77px;
            height: 70px;
            &::before {
                content: "\e958";
                font-family: $fontIcon;
                margin-left: 0;
                font-size: 24px;
                color: var(--text-4);
            }
        }
    }
}

.box-rating {
    @include flex(center, center);
    border-radius: 20px;
    border: 1px solid var(--line);
    padding: 10px 16px;
    gap: 10px;
    span {
        font-size: 18px;
        font-weight: 700;
        line-height: 140%;
    }
}

.box-star-review {
    display: flex;
    .content-left {
        padding-right: 20px;
        border-right: 1px solid var(--line);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .top {
            h1 {
                font-size: 50px;
                font-style: normal;
                font-weight: 700;
                line-height: 70px;
                text-transform: uppercase;
                color: #d83a3a;
                display: inline-block;
                margin-right: 10px;
            }
            span {
                font-size: 30px;
                font-weight: 400;
                line-height: normal;
                text-transform: uppercase;
                color: var(--text-5);
                opacity: 0.4;
            }
        }
    }
    .content-right {
        padding-left: 20px;
        flex-grow: 1;
        .line-progress {
            display: flex;
            gap: 10px;
            align-items: center;
            span {
                font-weight: 500;
                font-size: 12px;
                line-height: 140%;
                i {
                    color: #ffc700;
                    font-size: 12px;
                }
            }
            .progress {
                flex-grow: 1;
                height: 8px;

                .progress-bar {
                    background-color: var(--primary-btn);
                }
            }
        }
    }
}

.wd-list-review {
    .action-like {
    }
}
.banner-img img {
    width: 100%;
    height: 350px;
    object-fit: cover;
}

.tf-swiper {
    .banner-style1 {
        .content-left {
            .title {
                font-size: 12px;
                font-weight: 700;
                line-height: 16px;
                color: #e74141;
                margin-bottom: 3px;
            }
        }
        .box-img {
            img {
                width: 144px;
                height: 106px;
            }
        }
    }
    .banner-style2 {
        .content-left {
            padding: 15px 30px;
            padding-right: 0;
        }
        .content-right {
            margin-right: -75px;
            .bottom {
                margin-bottom: -60px;
            }
        }
    }
}
.countdown span.countdown__value {
    background-color: var(--primary);
    color: var(--white);
    font-size: 10px;
    font-weight: 400;
    line-height: 13px;
    padding: 4px;
    border-radius: 2px;
}
.countdown__label {
    margin: 0px 4px;
}




