.section-box-search {
    padding-bottom: 44px;
    background-color: $primary;
    margin-bottom: -20px;
}
.main-section {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: $white;
}
