.section-box-search {
    padding-bottom: 44px;
    background-color: $primary;
    margin-bottom: -20px;
}
.main-section {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    background-color: $white;
}
.banner-project {
    height: 176px;
    border-radius: 8px;
    overflow: hidden;
    img {
        object-fit: cover;
    }
}
.list-desc-project {
    display: flex;
    align-items: center;
    gap: 4px;
    .box-left {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 35%;
    }
    .box-right {
        flex-grow: 1;
        .add-member {
            margin-left: 12px;
            padding-top: 4px;
            font-size: 18px;
            line-height: 18px;
            .icon {
                color: $primary;
            }
        }
        .task-status {
            color: $white;
            font-weight: 500;
            font-size: 12px;
            line-height: 16px;
            padding: 4px 9px;
            border-radius: 8px;
            &.style-1 {
                border-radius: 4px;
                font-size: 8px;
                line-height: 12px;
            }
            &.type-1 {
                background-color: #ec4899;
            }
            &.type-2 {
                background-color: #34c8de;
            }
            &.type-3 {
                background-color: #f9771d;
            }
        }
    }
}
.uploadfile {
    display: flex;
    align-items: center;
    gap: 8px;
    .file-name {
        display: flex;
        align-items: center;
        gap: 4px;
        font-weight: 400;
        font-size: 10px;
        line-height: 16px;
        padding: 2px 8px;
        border: 1px solid $primary;
        border-radius: 8px;
        color: $primary;
    }
}

.box-empty-task {
    margin-top: 75px;
    p {
        padding: 0px 60px;
    }
}

.box-pick-color {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    .item {
        @include flex(center, center);
        width: 46px;
        height: 46px;
        border-radius: 8px;
        &.color1 {
            background-color: #fabe25;
        }
        &.color2 {
            background-color: #976bec;
        }
        &.color3 {
            background-color: #f951b1;
        }
        &.color4 {
            background-color: #59c3ff;
        }
        &.color5 {
            background-color: #59ffa5;
        }
        &.color6 {
            background-color: #25a1fa;
        }
        &.color7 {
            background: linear-gradient(180deg, #9ef9ff 0%, #6be4ec 100%);
        }
        &.color8 {
            background: linear-gradient(180deg, #f96f51 0%, #f951b1 100%);
        }
        &.color9 {
            background: linear-gradient(180deg, #fff59a 5.38%, #f9e851 100%);
        }
    }
}

.box-ip {
    position: relative;
    input {
        padding-right: 114px;
    }
    .text-right {
        position: absolute;
        top: 16px;
        right: 20px;
        color: $primary;
        font-size: 14px;
        line-height: 16px;
        font-weight: 700;
    }
}

.drop-select-access {
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: $soft-grey;
    padding: 12px;
    border-radius: 12px;

    img {
        border-radius: 6px;
        width: 36px;
        height: 36px;
    }
    &.dropdown-item {
        padding: 0;
        background-color: $white;
        &:not(:last-child) {
            padding-bottom: 20px;
        }
    }
    &.select {
        position: relative;
        &::after {
            content: "\e91c";
            font-family: $fontIcon;
            position: absolute;
            top: 18px;
            right: 18px;
            border: 0;
            transform: rotate(90deg);
        }
    }
}
