.wrap-task-accordion {
    .accordion-item {
        border: 0;
        .list-task-item {
            input {
                top: 22px;
            }
        }
    }
}

.header-task {
    position: relative;
    justify-content: space-between;
    padding: 0;
    padding-left: 36px;
    &::after {
        position: absolute;
        left: 0;
        background-size: 18px;
    }
    .title-task {
        display: flex;
        gap: 5px;
        align-items: center;
    }
    &:not(.collapsed) {
        background: none;
        box-shadow: none;
    }
}

.sidebarRight-accordion {
    .accordion-item {
        border: 0;
    }
    .accordion-button {
        padding: 12px 20px;
        font-size: 12px;
        line-height: 18px;
        color: rgba(49, 57, 79, 0.7);
        font-weight: 500;
        &:not(.collapsed) {
            background: none;
            box-shadow: none;
        }
        &::after {
            background-size: 18px;
            opacity: 0.6;
        }
    }
}

.category-nav-item {
    padding: 10px 20px 10px 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    .dot-danger {
        width: 8px;
        height: 8px;
    }
}
.recent-nav-item {
    padding: 12px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
    &.style-1 {
        gap: 22px;
        padding-left: 26px;
    }
}
