// input
.form-control {
    border-color: transparent;
    &:focus {
        box-shadow: unset;
        border-color: var(--onSurface) !important;
        background-color: var(--white);
    }
    &::placeholder {
        color: var(--secondary2);
    }
}

.input-icon {
    position: relative;
    .form-control {
        padding-left: 50px;
        border-radius: 12px;
        border-color: var(--line);
    }
    .icon {
        position: absolute;
        top: 19px;
        left: 20px;
        font-size: 22px;
        color: var(--text-4);
    }
    .box-view-hide {
        .show-pass,
        .show-pass2,
        .show-pass3,
        .show-pass4 {
            top: 20px;
            right: 20px;
        }
    }
    .ip-textarea {
        padding-left: 20px;
    }
}

.input-fill {
    .form-control {
        background: var(--bg-ip);
        box-shadow: var(--shadow2);
    }
}
.input-line {
    .form-control {
        border-radius: 0;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-color: var(--line);
    }
}

.input-upload {
    position: relative;
    .icon {
        position: absolute;
        z-index: 1;
        top: 50%;
        left: calc(50% + 32px);
        transform: translateY(-50%);
        color: var(--text-4);
        font-size: 22px;
    }
    .upload-file {
        position: relative;
        overflow: hidden;
        height: 50px;
        width: 100%;
        border: 1px dashed var(--line-2);
        background-color: var(--white);
        border-radius: 14px;

        &::before {
            position: absolute;
            width: 100%;
            height: 100%;
            font-weight: 400;
            font-size: 14px;
            line-height: 19px;
            content: "Upload file";
            @include flex(center, center);
            margin-left: -10px;
            border: none;
            background-color: var(--white);
            color: var(--onSurface);
            // border-radius: 14px;
        }
    }
    &.up-lg {
        .upload-file {
            height: 60px;
        }
    }
}

.drop-select {
    display: flex;
    position: relative;
    border: 1px solid var(--line);
    border-radius: 20px;
    .bootstrap-select {
        width: auto !important;
        button {
            background: var(--white);
            padding: 20px;
            padding-right: 10px;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border: 0;
            &:focus {
                outline: 0 !important;
                box-shadow: unset;
            }
        }
        .dropdown-toggle::after {
            display: none;
        }
        img {
            width: 22px;
            min-width: 22px;
            height: 22px;
            border-radius: 50%;
        }
        .dropdown-menu {
            li {
                &:not(:last-child) {
                    padding-bottom: 10px;
                }
            }
        }
        .dropdown-item {
            &.active {
                background: transparent;
            }
        }
    }

    .form-control {
        transition: unset;
        padding-left: 0;
        border: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    &:focus-within {
        border-color: var(--primary-btn);
    }
}

// input style 2
.input-style-2 {
    position: relative;
    label {
        position: absolute;
        top: -10px;
        background-color: var(--white);
        padding: 0px 10px;
        left: 14px;
        z-index: 10;
    }
    &:focus-within {
        color: var(--primary-btn);
        label {
            color: var(--primary-btn);
        }
    }
}

// ---------------------------------------------------------------
.box-view-hide {
    position: relative;
    .form-control {
        padding-right: 40px;
    }
    .show-pass,
    .show-pass2,
    .show-pass3,
    .show-pass4 {
        position: absolute;
        right: 16px;
        top: 16px;
        cursor: pointer;
        .icon-view {
            display: none;
        }
        .icon-pass {
            font-size: 22px;
            color: var(--text-4);
        }
        &.active {
            .icon-view {
                display: inline-block;
            }
            .icon-hide {
                display: none;
            }
        }
    }
}
.box-forgot {
    .forgot {
        display: none;
        position: absolute;
        top: 20px;
        right: 20px;
        gap: 10px;

        .forgot-link {
            font-weight: 700;
            color: var(--primary-btn);
        }
        .show-pass {
            position: unset;
        }
    }
    .form-control {
        padding-right: 110px;
    }
    .form-control:valid ~ .forgot {
        display: flex;
    }
}
.form-select {
    font-family: $font-main-family;
    color: var(--onSurface);
    font-size: 14px;
    line-height: 19.6px;
    padding: 20px;
    border-radius: 20px;
    border-color: var(--line);
    background-position: right 20px center;
    background-color: var(--white);

    &:focus {
        box-shadow: unset;
        border-color: var(--primary-btn) !important;
    }
}

.group-cb {
    display: flex;
    align-items: center;
    gap: 8px;
    &.cb-signup {
        label {
            span {
                color: $onSurface;
                font-weight: 500;
            }
        }
        .tf-checkbox {
            border-color: $line;
            &:checked {
                border-color: $primary;
                &::before {
                    color: $primary;
                }
            }
        }
    }
}

.digit-group {
    display: flex;
    justify-content: center;
    gap: 12px;

    input {
        width: 58px;
        height: 58px;
        border-radius: 8px;
        font-size: 24px;
        font-weight: 600;
        line-height: 36px;
        color: var(--onSurface);
        border: 1px solid var(--line);
        text-align: center;
        background-color: var(--white);

        &:focus {
            border-color: var(--onSurface);
        }
    }
}

.search-box {
    position: relative;
    width: 100%;
    .right-icon {
        position: absolute;
        font-size: 20px;
        color: var(--text-4);
        top: 8px;
        right: 12px;
    }
    .icon-left {
        position: absolute;
        font-size: 22px;
        color: var(--text-4);
        top: 19px;
        left: 20px;
    }
    .search-field {
        padding: 8px 12px;
        padding-right: 30px;
        border-radius: 8px;
        font-size: 14px;
        font-weight: 400;
        line-height: 18px;
        border: 1px solid var(--line);
        background-color: var(--white);
    }
    &.style-2 {
        .search-field {
            padding-left: 20px;
        }
    }
    &.st2 {
        .search-field {
            padding: 12px;
            padding-left: 33px;
        }
        .icon-search-2 {
            position: absolute;
            font-size: 18px;
            color: $onSurface;
            top: 12px;
            left: 12px;
        }
    }
}
.box-review {
    position: relative;
    .meta-review {
        position: absolute;
        bottom: 20px;
        left: 13px;
        right: 13px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}
.lo-select,
.time-select {
    &.active {
        .current {
            background-color: $primary;
            color: $white;
            border-color: $primary;
        }
        &::after {
            border-color: $white;
        }
    }
}
