.offcanvas {
    &.offcanvas-end {
        border: none;
        &.full {
            width: 100%;
        }
    }

    &.offcanvas-bottom {
        border-top: none;
        border-top-left-radius: 24px;
        border-top-right-radius: 24px;
        height: auto;
    }

    .offcanvas-header {
        padding: 24px;
        &.style-1 {
            padding-bottom: 19px;
        }
        .icon-close-popup {
            justify-content: flex-end;
            font-size: 12px;
        }
    }
    .offcanvas-body {
        padding: 0px 24px;
    }
}

.offcanvas-backdrop {
    background-color: $backdrop;
    &.show {
        -webkit-backdrop-filter: blur(2px);
        backdrop-filter: blur(2px);
        opacity: 1;
    }
}
.icon-close-popup {
    width: 30px;
    height: 20px;
    @include flex(center, center);
}

#closeAccount {
    .offcanvas-body {
        h5 {
            padding-bottom: 12px;
            text-align: center;
        }
        padding: 32px 24px 34px;
    }
}
