.tf-radio {
    position: relative;
    border: 1px solid var(--line-2);
    border-radius: 50%;
    background: none;
    cursor: pointer;
    outline: 0;
    height: 22px;
    width: 22px;
    -webkit-appearance: none;
    &:checked {
        border-color: var(--primary);

        &::before {
            opacity: 1;
        }
    }
    &::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        border-radius: 50%;
        width: 16px;
        height: 16px;
        background-color: var(--primary);
        opacity: 0;
    }

    &.square {
        border-radius: 0;
        &::before {
            border-radius: 0;
        }
        // &:checked {
        //     &::before {
        //         opacity: 1;
        //     }
        // }
    }
    &.square-2 {
        border-radius: 7px;
        &::before {
            border-radius: 5px;
        }
    }
    &.circle-2 {
        &:checked {
            background-color: var(--primary);
            border-color: var(--primary);
        }
        &::before {
            content: "";
            position: absolute;
            top: 5px;
            left: 5px;
            border-radius: 50%;
            width: 10px;
            height: 10px;
            background-color: var(--white);
        }
    }
    &.circle-3 {
        &:checked {
            background-color: var(--primary);
            border-color: var(--primary);
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 50%;
            width: 100%;
            height: 100%;
        }
    }
}

.fieldset-radio {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--onSurface);
    label {
        font-weight: 500;
        margin-top: 2px;
    }
}

.tf-checkbox {
    position: relative;
    border: 2px solid var(--line);
    border-radius: 4px;
    background: none;
    cursor: pointer;
    outline: 0;
    width: 20px;
    height: 20px;
    -webkit-appearance: none;
    @include flex(center, center);
    &::before {
        content: "\e976";
        position: absolute;
        font-family: $fontIcon;
        font-size: 10px;
        margin-top: -1px;
        color: $white;
    }
    &:checked {
        border-color: $primary;
        &::before {
            color: $primary;
        }
    }
    &.sm {
        width: 16px;
        height: 16px;
        border-radius: 3px;
        &::before {
            font-size: 6px;
        }
    }
}
.cb-rounded {
    position: relative;
    border: 1px solid var(--primary);
    background: none;
    cursor: pointer;
    outline: 0;
    width: 18px;
    height: 18px;
    -webkit-appearance: none;
    border-radius: 50%;
    background-color: var(--white);

    &:checked {
        &::before {
            content: "";
            position: absolute;
            border-radius: 50%;
            width: 12px;
            height: 12px;
            left: 2px;
            top: 2px;
            background-color: var(--primary);
        }
    }
}
