.noUi-horizontal {
    height: 6px;
}
.noUi-target {
    border: 0;
}

.noUi-base {
    .noUi-connects {
        border-radius: 999px;
        background-color: var(--line);
    }
}
.noUi-connect {
    background-color: var(--primary);
}

.noUi-horizontal .noUi-handle,
.noUi-vertical .noUi-handle {
    height: 24px;
    width: 24px;
    border-radius: 50px;
    border: 2px solid var(--primary);
    background-color: var(--white);
    box-shadow: unset;
    top: -10px;
    cursor: pointer;
    &::before,
    &::after {
        content: none;
    }
}
.slider-tooltip-default {
    .noUi-tooltip {
        border-radius: 8px;
        border-color: var(--line);
        line-height: 14px;
        margin-bottom: 4px;
        &::after {
            content: "Km";
        }
    }
}
.box-pricing {
    .noUi-handle-lower,
    .noUi-handle-upper {
        &::after {
            font-size: 14px;
            font-weight: 400;
            line-height: 18px;
            color: var(--onSurface);
            font-family: $font-main-family;
            top: 100%;
            left: 0;
            margin-top: 2px;
        }
    }
    .noUi-handle-lower {
        &::after {
            content: "Min";
        }
    }
    .noUi-handle-upper {
        &::after {
            content: "Max";
        }
    }
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
    right: -8px;
}

